* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 5px;
}

main {
  max-width: 600px;
  border: 1px solid black;
  min-height: 300px;
  text-align: center;
  margin: 10px auto;
  background-color: #ccc;
}

ul {
  max-width: 50px;
  margin: 0 auto;
  font-size: 20px;
}

button {
  display: block;
  margin: 10px auto;
  width: 200px;
  padding: 10px;
  cursor: pointer;
}